/* --------NAV MENU-------- */
.burger-menu {
    cursor: pointer;
    height: 27px;
    margin: 40px 25px;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 1.2rem;
    z-index:2;
  }
  .burger-menu span,
  .burger-menu span:before,
  .burger-menu span:after {
    background: var(--black);
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  .burger-menu span:before,
  .burger-menu span:after {
    content: "";
  }
  .burger-menu span {
    right: 1rem;
    top: 13px;
    width: 30px;
    border-radius: 2rem;
  }
  .burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
    border-radius: 2rem;
  }
  .burger-menu span:after {
    right: 0px;
    top: 10px;
    width: 15px;
    border-radius: 2rem;
  }
  
  .burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  .burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  .burger-menu.close span:after {
    top: 0px;
    right:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  .menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
    
  }
  
  .menu.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background:rgba(0, 0, 0, 0.883);
  }
  
  .menu li{
    list-style:none;
  }
  .menu a{
    color:var(--white);
    display:block;
    font-size: 32px;
    margin-bottom:30px;
    text-decoration:none;
    font-family: var(--secondary);
  }
  .logo{
    width: 5rem;
    margin-top: -1rem;
  }