.footer-basic {
  padding: 40px 0;
  background-image: transparent;
  color: var(--black);
}

.footer-basic ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 1.2;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

div.social {
  margin-top: 2rem;
  margin-bottom: -1rem;
}
.footer-basic .social > a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  margin: 1rem 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
.line {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: white;
}

ul.policies {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul.list-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 75px;
}
div.agreements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 30px;
}
li.list-inline-item {
  margin: 0 -1rem;
  text-align: left;
}

li.home {
  margin-top: 50px;
}
