/* --------HERO SECTION-------- */
.heroDoodle {
  margin-top: -2rem;
}

.slogan span {
  font-family: var(--secondary);
  font-size: 1.5em;
  color: var(--ink-blue);
}
.slogan {
  color: var(--black);
  word-spacing: 10px;
}

.description {
  font-family: var(--mono);
  margin-bottom: 3rem;
}
.description span {
  font-family: var(--secondary);
  color: var(--ink-blue);
}
/* Hero btn animation */
.button-3 {
  border: 3px solid var(--ink-blue);
  background-color: transparent;
  border-radius: 2em;
  color: var(--ink-blue);
  transition: 0.3s;
  padding: 0.3rem 0.9rem;
}
.button-3:hover {
  box-shadow: 8px 8px var(--ink-blue);
  transition: 0.3s;
  color: var(--black);
}
