:root {
    /* Mains */
    --white: #f4f4f4;
    --black: #1a1a1a;
    --grey: #dbdbdd;
    /* Accents */
    --purple: #D0BFFF;
    --blue: #D2E0FB;
    --aqua: #7dd1bd;
    --green: #9FE2BF;
    --lime: #C4DFAA;
    --orange: #f39f5f;
    --pink: #fba2a2;
    --blue-purple: #8b90f4;
    --trendy: #d6f422;
    --ink-blue: #241AB5;
    --error: #e06666;
    /* Fonts */
    --primary: 'Poppins', sans-serif;
    --secondary: 'Mynerve', cursive;
    --mono: 'Raleway','Oxygen Mono', monospace;
    /* Spacing */
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
    --spacing-five: calc(2.5rem);
  
  }
  