.container {
    display: flex;
    align-items: center;
    height: 75vh;
    width: 100%;
  }
  section.sign-up-card.container {
    display: flex;
    justify-content: space-between;
  }

  .col-1{
    margin-top: 18vh;
  }
  .col-1 h1 {
    font-size: 2.em;
    font-family: var(--primary)
  }
  .col-1 p {
    font-size: 1.2em;
  }

  .background-img2 {
    position: absolute;
    left: 0;
    bottom: 18vh;
    height: 60vh;
    z-index: -1;
  }
  
  .form-box {
    width: 380px;
    height: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.8;
    border-radius: 2%;
  }
  button.btn-login {
    margin-bottom: 3vh;
    border: solid 3px var(--grey);
    width: 25vh;
    font-family: var(--primary);
    background-color: var(--grey);
    opacity: 90%;
  }
  button.btn-login:hover {
    background-color: var(--trendy);
    border-color: var(--trendy);
  }
  
  .message {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    width: auto;
    color: var(--grey);
  }
  div.message div {
    margin-bottom: 2vh;
  }
  input.form-control {
    height: 8vh;
    width: 38vh;
    padding-left: 2vh;
    margin-bottom: 3vh;
    margin-right: 2vh;
    border: solid 3px var(--black);
    border-radius: 10px;
    font-size: 1.5rem;
  }
  .card-title {
    font-family: var(--primary);
    margin-bottom: 3vh;
    font-size: 3rem;
  }
  .card-title span {
    font-family: var(--secondary);
    font-weight: 600;
    font-size: 3.2rem;
  }
  .login-btn {
    margin-top: 3vh;
  }
  .login-btn p {
    font-family: var(--primary);
    color: var(--black);
  }
  .btn-small2 {
    background-color: transparent;
    color: var(--black);
    font-family: var(--primary);
    border: solid 3px var(--grey);
    padding: .5rem 3rem;
  }
  
  .btn-small2:hover {
    background-color: var(--blue);
    border-color: var(--blue);
  }