/* FIX & IMPORT TEMPLATE FOR USER CARDS */
.section-container {
    max-width: 100%;
    background: #595959;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center; /* Align the scroll icon vertically */
  }
  
  
  .product-list {
    display: flex;
    flex-direction: row;
  }
  
  .product-card {
    position: relative;
    flex: 0 0 auto;
    width: 50%;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    justify-content: space-around;
  }
  

  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 100%;
  }
  
 
  
  @media screen and (max-width: 600px) {
    .product-card {
      width: 90%;
      margin: 10px;
    }
  }
  