#logotype {
    max-height: 8em;
    margin-bottom: -25px;
}
.card-title2{
    font-family: var(--primary);
    margin-top: 27vh;
    font-size: 4rem;
}

/* categories list */
.w-title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.w-message {
    color: var(--black);
    font-family: var(--primary);
    font-weight: 400;
}
.mini-mess{
    font-size: small;
}
.continue {
    width: 30vh;
    border: solid 3px var(--black);
    margin: 4rem;
}
.continue:hover {
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--white);
    transition: all .2s ease-Out;
}
/* INFO CARDS */
.next {
    border-color: var(--lime);
    width: 20vh;
    font-family: var(--primary);
}
.next:hover {
    background-color: var(--lime);
    border-color: var(--lime);
}
#cat-img {
    flex-direction: row;
    margin-bottom: -.2em;
}
.cat {
    font-family: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.info-title {
    margin-bottom: 2vh;
}
.info-sub {
    padding-top: -1em;
}
.info-item {
    flex-direction: column;
    margin-top: 5em;
    text-align: left;
    width: 20em;
}